
  .backdrop{
    background-color: rgba(0, 0, 0, 0);
  }

  .custom-modal {
    max-width: 400px; /* Set the maximum width of the modal */
    width: 100%; /* Full width for small screens */
  }
  
  .custom-modal .modal-header {
    border-bottom: none; /* Remove bottom border */
  }
  
  .custom-modal .modal-title {
    font-weight: bold; /* Optional: Customize title style */
  }
  
  .custom-modal .modal-body {
    padding: 0; /* Ensure no padding in the body */
  }
  .custom-alert .btn-close {
    width: 16px;  /* Make the button smaller */
    height: 16px; /* Adjust the height to match */
    padding: 0;
  }
  
  .custom-alert .btn-close::before {
    font-size: 12px; 
    margin: 1rem;
  }


  /* Base styling for the alert */
.alert {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
}

/* Danger alert styling */
.alert-danger {
  background-color: #ff4d4d;
  color: black; 
  
}

/* Success alert styling */
.alert-success {
  background-color: #4CAF50; 
  color: #fff; 
  
}

/* Close button styling */
.alert .close {
  color: #fff; 
  opacity: 1;
  font-size: 1.5rem;
}

/* Paragraph styling inside the alert */
.alert p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .alert {
    font-size: 16px; /* Adjust font size for smaller screens */
    padding: 10px 15px;
  }
}
