/* LoginPage.css */

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #f4f7f6;
    margin: 2rem;
}

.loginCard {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.loginCard h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.loginCard p {
    margin-bottom: 30px;
    font-size: 16px;
    color: #666;
}

.loginButton {
    background-color: #4285F4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginButton:hover {
    background-color: #357ae8;
}

.loginButton::before {
    content: "";
    background: url('https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg') no-repeat center;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}
