:root {
    --main-bg-color: #f5f8f3;
    --header-bg-color: linear-gradient(135deg, #004d40, #002d26);
    --text-color: #333;
    --subtle-text-color: #666;
    --highlight-color: #6fcf97;
    --white-color: #ffffff;
}
.aboutUsPage {
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
}

.aboutussection{
    background-color: #e8f5e9;
    
}
/* Header Banner */
.headerBanner {
    background-color: #141414;
    padding: 60px 20px;
    text-align: center;
    padding: 3rem;
    text-align: center;
    margin: 3rem;
    border-radius: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   
}

.headerBanner p{
    color: white;
    line-height: 2rem;
    max-width: 100rem;
    text-align: center;
    position: relative;
    font-size: 18px;
    
}

.headerTitle {
    color: var(--white-color);
    font-size: 48px;
    margin: 0;
}

/* Section Styling */
.sectionPurpose,
.sectionDesign,
.sectionHistory {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: var(--main-bg-color);
    flex-wrap: wrap;
    transition: background-color 0.3s;
}

.sectionDesign {
    background-color: var(--white-color);
}

.headerTitle {
    font-size: 2.5rem;
    font-family: "Outfit", sans-serif;
    color: #ffebd2;
  }
  
  .sectionPurpose,
  .sectionDesign,
  .sectionHistory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
  }
  
  .textBlock {
    flex: 1;
    max-width: 500px;
    text-align: center;
  }
  
  .textBlock h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .textBlock p {
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .imageContainer {
    flex: 1;
    max-width: 400px;
  }
  
  .responsiveImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  

/* For smaller screens */
@media (max-width: 768px) {
    .textBlock {
        max-width: 100%;
        text-align: center;
    }



    .sectionPurpose,
    .sectionDesign,
    .sectionHistory {
        flex-direction: column;
        padding: 20px;
    }
}

.svgContainer {
    max-width: 300px;
    margin: 0 20px;
}

.purposeSvg,
.designSvg,
.historySvg {
    width: 100%;
    height: auto;
}

/* Hover Effect */
.sectionPurpose:hover,
.sectionDesign:hover,
.sectionHistory:hover {
    background-color: #e8f5e9; /* Light green on hover */
}


imageContainer {
    flex: 1;
    max-width: 500px;
  }
  
  .responsiveImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .sectionPurpose,
    .sectionDesign,
    .sectionHistory {
      flex-direction: column;
    }
  
    .headerTitle {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 480px) {
    .textBlock h2 {
      font-size: 1.5rem;
    }
  
    .textBlock p {
      font-size: 0.9rem;
    }
  }