.Checkoutcontainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  margin-top: 4rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
}

.checkoutContent {
  flex: 2;
  margin-right: 20px;
}

.checkoutForm {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.contact, .delivery, .payment {
  margin-bottom: 2rem;
 
}

.delivery h2{
  text-align: left;
  margin-bottom: 3rem;
}

.savedAddresses {
  margin-bottom: 20px;
}

.savedAddress {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.savedAddress p {
  color: black;
  text-align: left;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.deleteIcon, .editIcon {
  cursor: pointer;
  margin-left: 30px;
}

.addressActions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.floatingLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.floatingLabel label {
  margin-bottom: 5px;
}

.floatingLabel input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.quantityBar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantityLabel {
  font-weight: bold;
}

.quantityInput {
  width: 50px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

.quantityButton {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 30px;
  text-align: center;
}

.quantityButton:hover {
  background-color: #e0e0e0;
}

span, p {
  color: black;
}

p {
  font-size: 20px;
}

.ButtonClass {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0 6rem 0;
}

.showAddAddressButton, .addAddressButton {
 
  padding: 15px;
  background-color: var(--green);
  color: white;
  border: none;
  font-weight: 200;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 2rem;
}

.showAddAddressButton:hover {
  background-color: var(--green);
}

.delivery p {
  font-weight: 400;
}

.deliveryForm {
  display: flex;
  flex-direction: column;
}

.payment p {
  text-align: center;
}

.completeOrder {
  width: 100%;
  padding: 15px;
  background-color: black;
  color: white;
  border: none;
  font-weight: 200;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 2rem;
}

.completeOrder:hover{
  background-color: var(--green);
}

.cartSummary h2, .cartSummaryFooter p {
  color: black;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .checkoutContent, .cartSummary {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .checkoutForm {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .checkoutContent {
    order: 1;
  }

  .cartSummary {
    order: 2;
    margin-left: 0;
  }

  .checkoutForm {
    padding-left: 2vw;
    padding-right: 2vw;
  }

  p {
    font-size: 18px;
  }

  .cartItemImage {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .checkoutContent, .cartSummary {
    order: 1;
  }

  .checkoutForm {
    padding-left: 1vw;
    padding-right: 1vw;
  }

  

  p {
    font-size: 16px;
  }

  .cartItemImage {
    width: 60px;
    height: 60px;
  }

  .quantityInput {
    width: 40px;
  }

  .quantityButton {
    width: 25px;
  }
}
