/*ProductShowcase*/

.product-showcase {
    text-align: center;
    background: radial-gradient( #0E201D 60%, black );
    color: #f0e5d8;
    padding: 4rem; /* Adjust padding for smaller screens */
  }
  
  
  .product-card.animate {
    opacity: 1;
    transform: translateY(0);
  }
  
  .products {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content: center;
    gap: 2rem; /* Adjust gap for smaller screens */
  }
  
  .product-card {
    background-color: #f0e5d8;
    padding: 0.4rem;
    border-radius: 8px;
    transition: opacity 0.6s ease, transform 0.6s ease;
    cursor: pointer;
    width: 100%;
    opacity: 0;
    max-width: 400px; 
    
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .product-card p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #0a1f1c;
    font-weight: 300;
  }
  
  .product-card p:hover {
    text-decoration: underline;
  }
  
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .view-all {
    margin-top: 4rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .view-all:hover {
    background-color: #f2f2f2;
    transform: translateY(-5px);
    color: var(--green);
  }
  
  .heading-product {
    font-family: "Outfit", sans-serif;
    font-weight: 100;
    font-style: normal;
    padding: 0;
    margin-bottom: 3%;
    font-size: 100px; /* Default font size for large screens */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  @media (max-width: 1200px) {
    .heading-product {
      font-size: 80px; /* Adjust font size for large but not extra-large screens */
    }
  }
  
  @media (max-width: 992px) {
    .heading-product {
      font-size: 60px; /* Adjust font size for medium screens */
    }
  }
  
  @media (max-width: 768px) {
    .heading-product {
      font-size: 40px; /* Adjust font size for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .heading-product {
      font-size: 60px; /* Adjust font size for very small screens */
      margin-bottom: 8%; /* Adjust margin for very small screens */
    }
  }
  
  @media (max-width: 768px) {
    .product-showcase {
      padding: 2rem; /* Adjust padding for smaller screens */
    }
  
    .products {
      gap: 1rem; /* Adjust gap for smaller screens */
    }
  
    .product-card {
      width: 100%; /* Full width for smaller screens */
      max-width: 100%; /* Remove max width for smaller screens */
    }
  
    .view-all {
      padding: 1rem 2rem; /* Adjust padding for smaller screens */
      font-size: 1.2rem; /* Adjust font size for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .product-showcase {
      padding: 1rem; /* Further adjust padding for very small screens */
    }
  
    .view-all {
      padding: 0.8rem 1.5rem; /* Further adjust padding for very small screens */
      font-size: 1rem; /* Adjust font size for very small screens */
    }
  }
  
  
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  