.productsPage {
  display: flex;
  flex-direction: column; /* Default to column for smaller screens */
  align-items: center;
  padding: 1rem;
  margin: 0 8rem;

  
}

@media (min-width: 600px) {
  .productsPage {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .productsPage {
    padding: 3rem;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .productsPage {
    padding: 4rem;
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
  gap: 30px; 
  width: 100%;
  flex: 1; 
  position: relative;
  padding-bottom: 8rem;
 
}

.ProductsPageHeading {
  color: #000;
  text-align: center;
  background-color: #fff4e2;
  padding: 2rem;
}

.viewAllContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  width: 100%;}

.viewAllButton {
  background-color: #007bff; /* Change to your preferred color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Optional: rounded corners */
}

.viewAllButton:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/4.jpg');
  width: 100vw;
  height: 60vh;
  background-size: cover;
  background-position: center;

}

.mainheading{

  color: black;
  font-size: 8rem;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Optional: adds a shadow to make the text stand out */
}
