.productsPage {
  display: flex;
  flex-direction: column; /* Default to column for smaller screens */
  align-items: center;
  justify-content: center;
  padding: 1.7rem;
  gap: 1.5rem;
  background-color: #e2e2e2;
}

/* For medium-sized screens and up */
@media (max-width: 600px) {
  .reviewSection {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: left;
    justify-content: left;
  }

  .CustomerReviews{
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  .reviewInput{
    
    width: 80vw;
    margin-top: 2rem;
    
  }


}

/* For medium-sized screens and up */
@media (max-width: 600) {
  .productsPage {
    padding: 2rem;
  }

  .CustomerReviews{
    display: flex;
  }
}

/* For large-sized screens and up */
@media (min-width: 768px) {
  .productsPage {
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
  }

  .CustomerReviews{
    display: flex;
    
  }
}

/* For extra-large screens and up */
@media (min-width: 1024px) {
  .productsPage {
    padding: 6rem;
  }
}

.productDetails {
  max-width: 500px;
  text-align: left;
  margin-left: 1rem;
 
  padding-top: 1rem;


}

.productDetails h2 {
  font-size: 2rem;
  color: #000;
  text-transform: capitalize;
  text-align: left;
}

.productDetails p{
font-size: 17px;
}

.productPrice {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 1rem;
  text-align: left;
}

.productPrice span{
  text-decoration: line-through;
  color: red;
  font-size: 17px;
  font-weight: 300;
  padding: 4px;
}

.productRating {
  text-align: left;
}

.productDescription{
  margin-bottom: 10rem;
  font-size: 10px;
}

.productRating .star {
  color: yellow; /* Changed to yellow */
  font-size: 1.2rem;
}

.productRating .star.filled {
  color: yellow; /* Changed to yellow */
}

.productDescription {
  margin-bottom: 1rem;
  text-align: left;
  color: #000;
  text-transform: capitalize;
}

.productSizes {
  margin-bottom: 1rem;
  
}

.productSizes p {
  margin-bottom: 0.5rem;
  color: #000;
  text-align: left;
  font-size: 16px;
}

.sizes {
  display: flex;
  gap: 1.2rem;
}

.sizeButton {
  padding: 0.35rem 0.7rem;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sizeButton:hover {
  background-color: #e0e0e0;
}

.sizeButton.selected {
  background-color: #0a1f1c;
  color: white;
}


.productButtons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-top: 3rem;
}


.productViewButton {
  padding: 15px 20px;
  width: 20vw;
  font-size: 17px;
  background-color: black;
  color: white;
  border-color: black;
  border-width: 2px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Outfit";
  font-weight: 200;
  text-transform: uppercase;
}

.productViewButton:hover{
  background-color: var(--green);
}

.productViewButton:disabled {
  background-color: grey; /* Change to grey when disabled */
  color: #ccc; /* Lighten the text color */
  cursor: not-allowed; /* Change cursor to indicate it's not clickable */

}

.soldOutOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: rgba(185, 185, 185, 0.521); 
  z-index: 1; /* Make sure it appears above the image */
}


.soldOutLabel {
  position: absolute;
  top: 4%; 
  left: 5%;
  background-color: var(--green); 
  color: white;
  
  padding: 10px; 
  border-radius: 5px; 
  z-index: 100; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.soldOutLabel p{
  font-weight: 300;
  font-size: 18px; /* Font size */
  margin-bottom: 0;
}


.reviewSection {

  padding: 3rem;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}



.CustomerReviews{
  padding: 2rem;
  display: flex;
 
  align-items: center;
  justify-content: center;
  
}


.reviewSection h3, .CustomerReviews h3 {
  font-family: "outfit", sans-serif;
  font-size: 40px;
  font-weight: 400;
  padding: 1.5rem;
}

.reviewSection p, .CustomerReviews p{
  color: #000;
  font-size: 15px;
  text-align: left;
  
}

.reviewList {
  margin-bottom: 1rem;
  list-style-type: none; 
  padding: 0; 
}

.reviewItem {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  text-align: left; 
}

.alignCard{
  display: flex;
  justify-content: space-between;
}

.reviewItem strong {
  display: block;
  margin-bottom: 0.5rem;
}

.reviewRating {
  display: flex;
  margin-bottom: 0.5rem;
  color: rgb(248, 210, 38); 
}

.reviewForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

}

.reviewForm textarea {
  width: 40vw;
  height: 20vh;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
  font-family: "outfit", sans-serif;
  font-size: 15px;
  
}

.reviewFormbutton {
  padding: 0.5rem 30px;
  background-color: #0a1f1c;
  color: #e2e2e2;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.ReviewBar{
  display: flex;
  flex-direction: column;
  width: 40vh;
  margin-bottom: 1rem;
  margin-top: 2rem;

}

.cartSidebar {
  position: fixed;
  top: 0;
  right: -600px;
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.cartSidebar.open {
  right: 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 30px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cartHeading {
  margin-top: 20px;
  font-family: "Outfit";
  font-size: 24px;
}

.cartItem {
  display: flex;
  margin: 20px;
  color: #000;
}

.cartItemImage {
  width: 80px;
  height: 100px;
  margin-right: 20px;
}

.cartItemDetails {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}


.deleteIcon, .editIcon {
  cursor: pointer;
  margin-left: 1rem;
}

.accordionHeader {
  --bs-accordion-btn-bg: white;
  --bs-accordion-active-bg: rgb(255, 255, 255);
  --bs-accordion-btn-focus-box-shadow: none;
  background-color: #f8f9fa;
  color: #333; 
  border: 1px solid #dee2e6; 
  outline: none; 
   box-shadow: none ;
   -webkit-box-shadow: none ;
}

.accordionBody {
  padding: 1rem; 
  background-color: #ffffff; 
  border-top: 1px solid #dee2e6; 
}

.accordionItem + .accordionItem {
  margin-top: 0.5rem; 
}

.accordionBody li {
  margin-bottom: 0.5rem; /* Space between list items */
}

.accordionHeader:hover {
  background-color: #e9ecef; /* Light background on hover */
}

.accordionItem:last-child .accordionBody {
  border-bottom: none; /* Remove border from last item */
}

/* Remove blue color on focus/active state */
.accordionHeader:focus,
.accordionHeader:active {
  outline: none; /* Remove default focus outline */
  box-shadow: none; /* Remove default focus shadow */
  background-color: #f8f9fa; /* Ensure background color remains consistent */
}

.sizeButton:disabled {
  background-color: #d3d3d3; /* or any other color for disabled state */
  cursor: not-allowed;
  border: 1px solid #ccc; /* or any other border style for disabled state */
}


.sizeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sizeChartButton {
  background-color: white;
  border: none;
  width: 20vw;
  padding: 12px;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 0; 
  color: #000;
}

.sizeChartButton:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .sizeChartButton, .productViewButton {
    width: 60vw;
    font-size: 13px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .sizeChartButton {
    width: 60vw;
    font-size: 12px;
    padding: 8px;
  }
}
