.productsPage {
  display: flex;
  flex-direction: column; /* Default to column for smaller screens */
  align-items: center;
  padding: 1rem;
  margin: 0 auto; /* Center the content */
}
.spinnerContainer {
  display: flex;
  justify-content: center; /* Centers the spinner horizontally */
  margin-bottom: 4rem; /* Adds space between spinner and pagination */
}

.paginationContainer {
  display: flex;
  justify-content: center; /* Centers the pagination horizontally */
  margin-top: 3rem; /* Adds space between the content and pagination */
}

@media (min-width: 600px) {
  .productsPage {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .productsPage {
    padding: 3rem;
    flex-direction: row;
    flex-wrap: wrap; /* Allow wrapping for responsiveness */
    justify-content: center;
    margin: 0; /* Remove side margins */
  }
}

@media (min-width: 1024px) {
  .productsPage {
    padding: 4rem;
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
  gap: 30px; 
  width: 100%;
  padding-bottom: 8rem;
}

@media (max-width: 768px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr); /* Display two cards per row */
  }
}

@media (max-width: 480px) {
  .cardContainer {
    grid-template-columns: 1fr; /* Display one card per row */
  }
}

.ProductsPageHeading {
  color: #000;
  text-align: center;
  background-color: #fff4e2;
  padding: 2rem;
}

.viewAllContainer {
  text-align: center;
  padding: 10px;
  width: 100%; /* Full width to ensure it stays at the bottom */
  position: relative; /* Adjust to be inside the content */
}

.viewAllButton {
  background-color: #007bff; /* Change to your preferred color */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Optional: rounded corners */
}


.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/4.png');
  width: 100%;
  height: 90vh; /* Adjusted height */
  background-size: cover;
  background-position: center;
  margin: 0;
}

@media (max-width: 768px) {
  .banner {
    height: 40vh; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .banner {
    height: 30vh; /* Further adjust height for very small screens */
  }
}

.mainheading {
  color: black;
  font-size: 4rem; /* Adjusted for better readability */
  font-weight: 400;
  text-align: center;
}

@media (max-width: 768px) {
  .mainheading {
    font-size: 3rem; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .mainheading {
    font-size: 2rem; /* Further adjust font size for very small screens */
  }
}
