.productsPage {
  display: flex;
  flex-direction: column; /* Default to column for smaller screens */
  align-items: center;
  padding: 1rem;
  background-color: #e2e2e2;
}

/* For medium-sized screens and up */
@media (min-width: 600px) {
  .productsPage {
    padding: 2rem;
  }
}

/* For large-sized screens and up */
@media (min-width: 768px) {
  .productsPage {
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
  }
}

/* For extra-large screens and up */
@media (min-width: 1024px) {
  .productsPage {
    padding: 4rem;
  }
}

.productDetails {
  max-width: 500px;
  text-align: left;
  margin-left: 2rem;
}

.productDetails h2 {
  font-size: 2rem;
  color: #000;
  text-align: left;
}

.productPrice {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 1rem;
  text-align: left;
}

.productRating {
  text-align: left;
}

.productDescription{
  margin-bottom: 10rem;
}

.productRating .star {
  color: yellow; /* Changed to yellow */
  font-size: 1.2rem;
}

.productRating .star.filled {
  color: yellow; /* Changed to yellow */
}

.productDescription {
  margin-bottom: 1rem;
  text-align: left;
  color: #000;
}

.productSizes {
  margin-bottom: 1rem;
}

.productSizes p {
  margin-bottom: 0.5rem;
  color: #000;
  text-align: left;
  font-size: 20px;
}

.sizes {
  display: flex;
  gap: 0.5rem;
}

.sizeButton {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sizeButton:hover {
  background-color: #e0e0e0;
}

.sizeButton.selected {
  background-color: #0a1f1c;
  color: white;
}


.productButtons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.productViewButton {
  padding: 10px 15px;
  font-size: 20px;
  background-color: #0a1f1c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.productViewButton:hover {
  background-color: #0056b3;
}

.reviewSection {
 
  margin: 4rem 0 4rem 5rem;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: row;
  
}

.customerReview{
  margin-left: 15rem;
  color: #000;
} 

.reviewInput{
  margin-left: 25rem;
  padding: 0 ;
  align-items: left;
  color: black;
}

.reviewSection h3 {
  font-family: "outfit", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.reviewSection p{
  color: #000;
  font-size: 15px;
  text-align: left;
}

.reviewList {
  margin-bottom: 1rem;
  list-style-type: none; 
  padding: 2rem; 
}

.reviewItem {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  text-align: left; /* Align reviews to the left */
}

.reviewItem strong {
  display: block;
  margin-bottom: 0.5rem;
}

.reviewRating {
  display: flex;
  margin-bottom: 0.5rem;
  color: rgb(248, 210, 38); 
}

.reviewForm {
  margin-top: 1rem;
}

.reviewForm textarea {
  width: 50vw;
  height: 30vh;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
  font-family: "outfit", sans-serif;
  font-size: 15px;
}

.reviewForm .button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #0a1f1c;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.reviewForm .button:hover {
  background-color: #0056b3;
}

.cartSidebar {
  position: fixed;
  top: 0;
  right: -600px;
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.cartSidebar.open {
  right: 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 30px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cartHeading {
  margin-top: 20px;
  font-family: "Outfit";
  font-size: 24px;
}

.cartItem {
  display: flex;
  margin: 20px;
  color: #000;
}

.cartItemImage {
  width: 80px;
  height: 100px;
  margin-right: 20px;
}

.cartItemDetails {
  flex: 1;
}

