.productsPage {
  display: flex;
  flex-direction: column; /* Default to column for smaller screens */
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #e2e2e2;
}

/* For medium-sized screens and up */
@media (min-width: 600px) {
  .productsPage {
    padding: 2rem;
  }
}

/* For large-sized screens and up */
@media (min-width: 768px) {
  .productsPage {
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
  }
}

/* For extra-large screens and up */
@media (min-width: 1024px) {
  .productsPage {
    padding: 4rem;
  }
}

.productDetails {
  max-width: 500px;
  text-align: left;
  margin-left: 2rem;
}

.productDetails h2 {
  font-size: 2rem;
  color: #000;
  text-transform: capitalize;
  text-align: left;
}

.productDetails p{
font-size: 17px;
}

.productPrice {
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 1rem;
  text-align: left;
}

.productRating {
  text-align: left;
}

.productDescription{
  margin-bottom: 10rem;
  font-size: 10px;
}

.productRating .star {
  color: yellow; /* Changed to yellow */
  font-size: 1.2rem;
}

.productRating .star.filled {
  color: yellow; /* Changed to yellow */
}

.productDescription {
  margin-bottom: 1rem;
  text-align: left;
  color: #000;
  text-transform: capitalize;
}

.productSizes {
  margin-bottom: 1rem;
  
}

.productSizes p {
  margin-bottom: 0.5rem;
  color: #000;
  text-align: left;
  font-size: 20px;
}

.sizes {
  display: flex;
  gap: 0.5rem;
}

.sizeButton {
  padding: 0.35rem 0.7rem;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f9f9f9;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.sizeButton:hover {
  background-color: #e0e0e0;
}

.sizeButton.selected {
  background-color: #0a1f1c;
  color: white;
}


.productButtons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-top: 3rem;
}

.productViewButton:nth-child(even){
  background-color: white;
  color: black;

}

.productViewButton:nth-child(even):hover{
  
    color: white;
    background-color: #000;
  
}

.productViewButton {
  padding: 10px 15px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-color: black;
  border-width: 2px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Outfit";
  font-weight: 200;
}



.reviewSection {

  padding: 3rem;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}



/* For medium-sized screens and up */
@media (max-width: 400px) {
  .reviewSection {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: left;
    justify-content: left;
  }

}

.customerReview {
 
  color: #000;
} 

.reviewInput{
  margin-left: 6rem;
  margin-top: 0;
  padding: 0 ;
  align-items: left;
  color: black;
  display: flex;
  flex-direction: column;
}

.CustomerReviews{
  padding: 2rem;
}
.reviewSection h3, .CustomerReviews h3 {
  font-family: "outfit", sans-serif;
  font-size: 40px;
  font-weight: 400;
  padding: 1.5rem;
}

.reviewSection p, .CustomerReviews p{
  color: #000;
  font-size: 15px;
  text-align: left;
  
}

.reviewList {
  margin-bottom: 1rem;
  list-style-type: none; 
  padding: 0; 
}

.reviewItem {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  text-align: left; 
}

.reviewItem strong {
  display: block;
  margin-bottom: 0.5rem;
}

.reviewRating {
  display: flex;
  margin-bottom: 0.5rem;
  color: rgb(248, 210, 38); 
}

.reviewForm {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  
}

.reviewForm textarea {
  width: 50vw;
  height: 20vh;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
  font-family: "outfit", sans-serif;
  font-size: 15px;
  
}

.reviewFormbutton {
  padding: 0.5rem 30px;
  background-color: #0a1f1c;
  color: #e2e2e2;
  font-size: 16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.ReviewBar{
  display: flex;
  flex-direction: column;
  width: 50vh;
  margin-bottom: 1rem;
  margin-top: 2rem;

}

.cartSidebar {
  position: fixed;
  top: 0;
  right: -600px;
  width: 400px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.cartSidebar.open {
  right: 0;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 30px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cartHeading {
  margin-top: 20px;
  font-family: "Outfit";
  font-size: 24px;
}

.cartItem {
  display: flex;
  margin: 20px;
  color: #000;
}

.cartItemImage {
  width: 80px;
  height: 100px;
  margin-right: 20px;
}

.cartItemDetails {
  flex: 1;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.addressActions {
  position: absolute;
  right: 10px;
  top: 10px;

}

.deleteIcon, .editIcon {
  cursor: pointer;
  margin-left: 20px;
}