.aboutUsSection {
  position: relative;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 3rem; 
  color: #f0e5d8;
  text-align: center;
}

.content {
  max-width: 70%;
  margin: 0 auto;
  background: transparent;
  padding: 2rem;
  border-radius: 8px;
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content */
}

.content img {
  margin: 2rem;
  max-width: 100%; /* Ensure image does not exceed the container width */
  width:30%; /* Make image take full width of its container */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Ensure aspect ratio is preserved */
}

.content p {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #f0e5d8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
  .aboutUsSection {
    padding: 5rem 1rem; 
  }

  .content {
    padding: 1rem;
  }

  p {
    font-size: 1rem; 
  }
}

@media (max-width: 480px) {
  .content {
    max-width: 100%;
    padding: 1rem; 
  }

  h1 {
    font-size: 1.5rem; 
  }

  .aboutUsSection {
    padding: 7rem 1rem; 
  }

  p {
    margin-top: 1rem; 
  }

  .content img {
   width: 80%;
  }

}
