/* Card.module.css */

/* Base styles */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  margin: 0 auto; /* Center align on smaller screens */
  width: 100%; /* Full width on smaller screens */
  max-width: 300px; /* Constrain max-width */
  height: 500px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden; /* Ensure images don't overflow */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Image styling */
.cardImageWrapper {
  width: 100%;
  padding-top: 150%;
  position: relative;
}

.cardImage,
.cardHoverImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: opacity 0.3s ease-in-out;
}

.cardHoverImage {
  opacity: 0;
}

.card:hover .cardHoverImage {
  opacity: 1;
}

.card:hover .cardImage {
  opacity: 0;
}

/* Text content */
.cardTitle {
  font-size: 14px;
  margin-top: 1rem;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #333;
}

.cardPrice {
  font-size: 16px;
  color: #555;
  margin-bottom: 0.5rem;
}

.cardPrice span {
  text-decoration: line-through;
  color: red;
  font-size: 15px;
  margin-right: 0.5rem;
}

.cardDescription {
  font-size: 14px;
  color: #555;
}

/* Sold Out Overlay */
.soldOutOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 185, 185, 0.6);
  z-index: 1;
}

.soldOutLabel {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: var(--green);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.soldOutLabel p {
  font-weight: 300;
  font-size: 18px;
  margin: 0;
  color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
  .card {
    max-width: 250px; /* Reduce card width */
    padding: 8px;
    height: 400px; /* Reduce card height */
  }

  .cardImageWrapper{
    position: static;
  }

  .cardTitle {
    font-size: 14px;
    margin-top: 0.8rem;
  }

  .cardPrice {
    font-size: 14px;
  }

  .cardDescription {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 150px; /* Further reduce card width */
    padding: 5px;
    margin-bottom: 15px;
    height: 280px; /* Further reduce card height */
  }

  .cardImage,
  .cardHoverImage {
    height: 70%; 
    padding-top: 0.7rem;
  }

  .cardTitle {
    font-size: 12px;
    margin-top: 0.5rem;
  }

  .cardPrice {
    font-size: 12px;
  }

  .cardDescription {
    font-size: 10px;
  }
}
