/* Card.module.css */

/* Existing styles */

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  border-color: transparent;
  background-color: white;
  padding: 10px;
  margin: 0;
  width: 100%; /* Full width on small screens */
  max-width: 300px; /* Limit the max-width for larger screens */
  height: 500px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 4px 4px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden; /* Ensure the card contains the images */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardImageWrapper {
  position: relative;
  width: 100%;
  padding-top: 130%;
  text-decoration: none;
}

.cardImage,
.cardHoverImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: opacity 0.3s ease-in-out;
}

.cardHoverImage {
  opacity: 0;
}

.card:hover .cardHoverImage {
  opacity: 1;
}

.card:hover .cardImage {
  opacity: 0;
}

.cardTitle {
  font-size: 20px;
  margin: 12px 0;
  text-transform: capitalize;
  text-decoration: none;
}

.cardPrice {
  font-size: 16px;
  text-decoration: none;
}

.cardPrice span{
  text-decoration: line-through;
  color: red;
  font-size: 17px;
  font-weight: 300;
  padding: 4px;
}

.cardDescription {
  font-size: 14px;
  color: white;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .card {
    max-width: 100%; /* Full width on smaller screens */
    padding: 12px; /* Increased padding for better spacing */
    height: 300px;
  }

  .cardTitle {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .cardPrice {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .cardDescription {
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 100%;
    padding: 8px;
    margin-bottom: 25px;
    height: 325px;
  }

  .cardTitle {
    font-size: 16px; /* Adjust font size for extra-small screens */
  }

  .cardPrice {
    font-size: 12px; /* Adjust font size for extra-small screens */
  }

  .cardDescription {
    font-size: 10px; /* Adjust font size for extra-small screens */
  }
}


.soldOutOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: rgba(185, 185, 185, 0.521); 
  z-index: 1; /* Make sure it appears above the image */
}

.soldOutLabel {
  position: absolute;
  top: 4%; 
  left: 5%;
  background-color: var(--green); 
  color: white;
  
  padding: 10px; 
  border-radius: 5px; 
  z-index: 100; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.soldOutLabel p{
  font-weight: 300;
  font-size: 18px; /* Font size */
  margin-bottom: 0;
  color: white;
}
