.CheckoutContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 50px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  width: 100%;
 
}


p {
  color: black;
  margin-bottom: 12px;
  text-align: center;
  font-size: 10px;
}

.checkoutContent {
  flex: 3;
}

.checkoutForm {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 4vw;
  padding-bottom: 5vw;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.checkoutForm h2 {
  color: black;
  font-size: 40px;
}

.cartItemsContainer {
  overflow-y: auto;
  flex: 1;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}


.cartSummary h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  font-weight: 200;
  text-transform: capitalize;
}

.cartItem {
  display: flex;
  gap: 10px;
  margin-bottom: 1px;
  margin-top: 2rem;
  /* border-bottom: 1px solid #ddd; */
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.cartItem img{
  width: 90px;
  height: 120px;
  border: 1px solid black;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.cartItemDetails {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.cartItemDetails p {
  margin: 0;
}

.cartItemDetails h2{
  color: black;
  text-align: left;
  
}

.quantity{
  margin: 0;
  padding: 0;
}

.quantityBar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px;
  margin: 0;
}

.quantityLabel {
  font-weight: bold;
}



.quantityButton:hover {
  background-color: #e0e0e0;
}


.quantityInput {
 
  padding: 3.9px 0 4px 0;
  border: 0.5px solid #ddd;
  outline: none;
  width: 50px;
  border: 1px solid #ddd;
  border-radius:0 ;
  text-align: center;
}

.quantityButton {
  background-color: transparent;
  color: black;
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 3.8px 0px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  margin: 1rem 0;
  width: 30px;
  text-align: center;
}

span {
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.delivery {
  margin-top: 3rem;
  margin-bottom: 20px;
  position: relative;
}

.savedAddress {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.savedAddress p {
  color: black;
  text-align: left;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: var(--green);
  font-size: 24px;
}

.completeOrder {
  width: 100%;
  padding: 15px;
  background-color: var(--green);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 2rem;
}

.cartSummary h2 {
  color: black;
  font-size: 40px;
  text-align: left;
}

.cartSummaryFooter p {
  color: red;
}

.cartItem {
  display: flex;
  align-items: left;

  margin-bottom: 20px;
  border-radius: 20px;
}

.cartItemDetails h3 {
  color: black;
  text-align: left;
  font-size: 0px;
  font-family: "Outfit";
  font-weight: 200;
  padding-top: 1rem;
}

.cartItemDetails h2 {
  color: black;
  margin-bottom: 2rem;
  margin-right: 2rem;
  font-size: 15px;
  font-family: "Outfit";
  font-weight: 400;
  text-transform: capitalize;
  
}


.cartItemDetails h4 {
  font-family: "Outfit";
  font-weight: 200;
  font-size: 15px;
}

.quantityButton:hover {
  background-color: #333;
  color: white;
}

.checkoutButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #0a1f1c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .checkoutForm {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (max-width: 768px) {
  .CheckoutContainer {
    flex-direction: column;
  }

  .cartSummary {
    margin-left: 0;
    margin-top: 20px;
  }

  .checkoutForm {
    padding: 5vw;
  }
}

@media (max-width: 460px) {
  .checkoutForm {
    padding: 2vw;
  }

  .cartItemImage {
    width: 60px;
    height: 60px;
  }

  .cartItemDetails h2 {
    font-size: 12px;
  }

  .cartItemDetails h3 {
    font-size: 8px;
  }

  .cartSummary h2 {
    font-size: 30px;
  }

  .completeOrder {
    font-size: 14px;
  }
}
