.categorySection {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 5rem;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    
  }
  
  .categoryCard {
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 450px;
    margin: 0 2rem ;
    background-color: var(--green);
   
  }
  
  .CardsContainer{
    display: flex;
  }
  
  .headingCategory {
    font-family: "Outfit", sans-serif;
    font-weight: 550;
    font-size: 4rem; 
    color: var(--green);
    text-decoration: none;
  }

  .categoryCard:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .categoryImage {
    width: 100%;
    height: auto;
  }
  
  .categoryTitle {
    font-family: "Arial", sans-serif;
    font-size: 1.2rem;
     color: white;
    margin: 1rem 0;
  }
  
  @media (max-width: 768px) {
    .categorySection {
      flex-direction: column;
      align-items: center;
    }
  
    .categoryCard {
      width: 90%;
    }
  }
  
  .categoryDescription {
    font-family: "Arial", sans-serif;
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.6;
    max-width: 1000px;
  }
  
  .cardDescription {
    font-family: "Arial", sans-serif;
    font-size: 1rem;
    color: #555;
    margin-top: 1rem;
  }
  