.contactUsSection {
  text-align: center;
  background-color: #0E201D;
  color: #f0e5d8;
  padding: 7rem;
  
}

.headingContact {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  text-shadow: 3px 3px black;
  font-size: 60px;
  color: #ffebd2;
  padding-bottom: 2rem;
  text-decoration: none;
  text-align: center;
}

.circles {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.circle {
  background-color: #f0e5d8;
  width: 15vw;
  height: 30vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.circle img {
  width: 80%;
  height: auto;
}

@media (max-width: 768px) {
  .headingContact {
    font-size: 2rem;
  }

  .circles {
    gap: 1rem;
  }

  .circle {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .headingContact {
    font-size: 1.5rem;
  }

  .circle {
    width: 60px;
    height: 60px;
  }
}
