.contactUsSection {
  text-align: center;
  background-color: #0E201D;
  color: #f0e5d8;
  padding: 4rem;
}

.headingContact {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  text-shadow: 3px 3px black;
  font-size: 3.75rem; /* Scales for larger screens */
  color: #ffebd2;
  padding-bottom: 2rem;
  text-decoration: none;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 30vw; /* Responsive width */
  height: auto;
  max-width: 900px; /* Set max width to limit image size */
  
}

@media (max-width: 768px) {
  .headingContact {
    font-size: 2.5rem;
  }

  .image img {
    width: 90vw;
    max-width: 800px;
  }
}

@media (max-width: 480px) {
  .headingContact {
    font-size: 1.75rem;
  }

  .image img {
    width: 90vw;
    max-width: 800px;
  }
}
