/* FadeInAnimation.module.css */
.fadeInUp {
  opacity: 0;
  transform: translateY(-80px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fadeInUpVisible {
  opacity: 1;
  transform: translateY(0);
}
