.footer {
  background-color: #141414;
  padding: 5rem 1rem;
  color: #f0e5d8;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2.5rem;
}

.footerColumn {
  max-width: 250px; /* Increased max width for more room */
}

.footerColumn h3 {
  font-family: "Outfit", sans-serif;
  font-size: 1.6rem;
  margin-bottom: 1.2rem; /* Slightly larger margin for better spacing */
}

.footerColumn p, .footerColumn ul, .footerColumn form {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  color: #aaa;
  text-align: left;
}

.footerColumn ul {
  list-style: none;
  padding: 0;
}

.footerColumn ul li {
  margin-bottom: 0.8rem; /* Increased spacing between list items */
}

.socialIcons i {
  font-size: 1.5rem; /* Increased icon size for better visibility */
  margin-right: 0.7rem;
  color: #f0e5d8;
}

.footerBottom {
  margin-top: 3rem;
  font-size: 0.9rem; /* Slightly larger font for better readability */
  color: #aaa;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerColumn ul li a {
  color: white;
  text-decoration: none;
}

.footerColumn ul li a:hover {
  text-decoration: underline;
}

/* Styling for delivery and payment partner logos */
.partners {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: left;
  align-items: left;
}

.partner {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.partnerLogo {
  width: 60px;
  height: auto;
  transition: filter 0.3s ease-in-out;
}



/* Media query for smaller screens */
@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footerColumn {
    max-width: 100%;
    text-align: center;
    margin-bottom: 2rem; /* Add space between columns on smaller screens */
  }

  .footerColumn ul, .footerColumn p, .footerColumn form {
    text-align: center;
  }

  .socialIcons {
    justify-content: center;
    text-align: center;
  }

  .partners {
    flex-direction: column; /* Stack logos vertically on small screens */
  }

  .partners {
    
    justify-content: center;
    align-items: center;
  }
  
  .partner {
    align-items: center;
    text-align: center;
  }
}
