.orderItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
 
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.orderItem:hover{
  background: #d8d8d8;
}
.itemDetails {
  display: flex;
  align-items: center;
  margin: 1rem 0;
 
}

.orderItemImage {
  width: 70px;
  height: 100px;
  margin-right: 20px;
}

.detailsText {
  flex-grow: 1;
  margin: 0;
}

.detailsText h2 {
  margin: 0;
  font-size: 18px;
}

.detailsText p, .detailsText span {
  margin: 5px 0;
  font-size: 14px;
  text-align: left;
  color: black;
}

.arrowButton {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cancelButton {

   background-color: WHITE;
  color: BLACK;
  border: 0.5px Solid BLACK;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  
  margin: 5px;
}

.cancelButton:HOVER{
  background-color: var(--green);
  color: white;
}

.buttons{
  display: flex;
  flex-direction: row;
}