.orderItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px 20px;
 
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.orderItem:hover{
  background: #d8d8d8;
}
.itemDetails {
  display: flex;
  align-items: center;
  margin: 1rem 0;
 
}

.orderItemImage {
  width: 70px;
  height: 100px;
  margin-right: 20px;
}

.detailsText {
  flex-grow: 1;
  margin: 0;
}

.detailsText h2 {
  margin: 0;
  font-size: 18px;
}

.detailsText p, .detailsText span {
  margin: 5px 0;
  font-size: 15px;
  text-align: left;
  color: black;
}
.arrowButton {
  display: flex;
  color: #000000;
  background-color: transparent;
  padding: 10px 25px;
  border-radius: 15px;
  border: 1px solid black;
  transition: all .3s ease;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  margin-bottom: 1rem;
}

.arrowButton > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all .3s ease;
}

.arrowButton > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

.arrowButton:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
  border-color: text-hover-color;
}

.arrowButton:hover > .arrow::before {
  opacity: 1;
  width: 8px;
}

.arrowButton:hover {
  background-color: rgb(255, 255, 255);
}

.cancelButton {

   background-color: var(--green);
  color: white;
  border: 0.5px Solid BLACK;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 200;
  margin: 5px;
  border-radius: 8px;
}



.buttons{
  display: flex;
  flex-direction: row;
}

.modalStatus{
  background-color: rgb(245, 191, 191);
  max-width: fit-content;
  padding: 0.3rem;
  border-radius: 10px;
  border: 1px solid rgb(184, 0, 0);
  color: rgb(184, 0, 0);
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 12px;
  margin-top: 0;
}
