.productShowcase {
  text-align: center;
  background: radial-gradient(#0E201D 60%, black);
  color: #f0e5d8;
  padding: 3rem;
}


@media (max-width: 1200px) {
  .headingProduct {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  .headingProduct {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .headingProduct {
    font-size: 40px;
  }
  .productShowcase {
    padding: 2rem;
  }
  .products {
    gap: 1rem;
  }
  .productCard {
    width: 100%;
    max-width: 100%;
  }
  .viewAll {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .headingProduct {
    font-size: 60px;
    margin-bottom: 8%;
  }
  .productShowcase {
    padding: 1rem;
  }
  .viewAll {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@media (min-width: 600px) {
  .productsPage {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .productsPage {
    padding: 3rem;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .productsPage {
    padding: 4rem;
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 1rem;
  width: 100%;
  margin-top: 3rem;
  padding-bottom: 8rem;
  margin-left: 3rem;  
}

@media (max-width: 1200px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }
}

@media (max-width: 900px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}

@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: 1fr; /* 1 column for very small screens */
  }
}


.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden; /* Ensure the card contains the images */
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.cardImageWrapper {
  position: relative;
  width: 100%;
  padding-top: 130%; /* Aspect ratio to ensure image container is square */
}

.cardImage,
.cardHoverImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.3s ease-in-out;
}

.cardHoverImage {
  opacity: 0;
}

.card:hover .cardHoverImage {
  opacity: 1;
}

.card:hover .cardImage {
  opacity: 0;
}

.cardTitle {
  font-size: 18px;
  margin: 12px 0;
  color: white;
}

.cardPrice {
  font-size: 16px;
  color: #333;
}

.cardDescription {
  font-size: 14px;
  color: #777;
}



.viewAllContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  width: 100%; /* Full width to ensure it stays at the bottom */
}


