.productShowcase {
  text-align: center;
  background: radial-gradient(#0E201D 60%, black);
  color: #f0e5d8;
  padding: 3rem;
}

.productShowcase .headingProduct {
  text-align: left;
  margin-top: 3vw;
  margin-left: 8vw;
  margin-bottom: 4vw;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  text-shadow: 3px 3px black;
  font-size: 60px;
  color: #ffebd2;
  text-decoration: none;
}



@media (max-width: 1200px) {
  .headingProduct {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  .headingProduct {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .headingProduct {
    font-size: 40px;
  }
  .productShowcase {
    padding: 2rem;
  }
  .products {
    gap: 1rem;
  }
  .productCard {
    width: 100%;
    max-width: 100%;
  }
  .viewAll {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .headingProduct {
    font-size: 60px;
    margin-bottom: 8%;
  }
  .productShowcase {
    padding: 1rem;
  }
  .viewAll {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
  }
}

@media (min-width: 300px) {
  .productsPage {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .productsPage {
    padding: 3rem;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .productsPage {
    padding: 4rem;
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 5rem;
  padding: 1rem 8rem 2rem 10rem;
}

@media (max-width: 1200px) {
  .cardContainer {
    grid-template-columns: repeat(2, 2fr); 
  }
}

@media (max-width: 300px) {
  .cardContainer {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .cardContainer {
    padding: 0.5rem;
  }
}

.viewAllContainer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  width: 100%; /* Full width to ensure it stays at the bottom */
}
