.singleProduct {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  position: relative;
}

.mainImage {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
  position: relative;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.carousel-control-prev {
  left: -100px;
}

.carousel-control-next {
  right: -100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  font-size: 30px;
}

@media (min-width: 768px) {
  .singleProduct {
    flex-direction: row;
  }

  .mainImage {
    margin-bottom: 0;
  }
}
