.singleProduct {
  display: flex;
  justify-content: center;
  align-items: center;
 
  position: relative;
}

.mainImage {
  width: 100%;
  max-width: 500px;
  margin-bottom: 1rem;
  position: relative;
  
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.imageContainer img {
  max-width: 100%;
  height: auto;
 
}


.carouselArrow{
  background-color: black;
  border-radius: 20px;
  height: 30px;
  width: 30px;
}

@media (min-width: 768px) {
  .singleProduct {
    flex-direction: row;
  }

  .mainImage {
    margin-bottom: 0;
  }
}

@media (max-width: 420px) {
  .singleProduct {
    flex-direction: row;
  }

  .mainImage {
   width: 130%;
   height: 120%;
  }
}
