.starRating {
  display: flex;
  gap: 5px;
}

.star {
  font-size: 30px;
  cursor: pointer;
  color: gray;
  
  margin-bottom: 1rem;
}


.filled {
  color: gold;
}

.star[disabled] {
  cursor: not-allowed;
  
}
