.wishlistItem {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .wishlistItemImage {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }
  
  .wishlistItemDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .wishlistItemDetails h4 {
    margin: 5px 0;
    font-size: 15px;
  }
  .wishlistItemDetails h2{
    font-size: 20px;
    margin: 5px 0;
  }
  
  .addToCartButton {
    background-color: var(--green);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .addToCartButton:hover {
    background-color: var(--green);
  }
  