
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root variables */
:root {
  --green: #0E201D; 
  margin: 0;
  padding: 0;
}

p,h1,h2,h3,h4, div{
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-style: normal;
  
}

.heading{
  font-family: "Outfit", sans-serif;
  font-weight: 200;
  font-style: normal;
  padding: 0;
  margin-bottom: 0%;
  font-size: 110px;
  color: #f0e5d8;
  text-shadow: 3px 3px black;
}

.sub-heading {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-size: 70px;
 
}

.button {
  cursor: pointer;
  position: relative;
  padding: 10px 70px;
  font-size: 1.5rem;
  background-color: var(--green);
  color: white;
  border: 2px solid white;
  font-weight: 100;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  overflow: hidden;
  margin-bottom: 3rem;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: var(--green);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.button:hover::before {
  scale: 10;
  background-color: #0E201D;
}

.button:hover {
  color: beige;
  scale: 1.1;
  box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}

.button:active {
  scale: 1;
}


/* Responsive styles */
@media (max-width: 1200px) {
  .logo img {
    height: 80px; /* Adjust logo size for smaller screens */
  }

  .navigation a {
    margin-right: 10px; /* Adjust margin for smaller screens */
  }

  .sign-up-button {
    padding: 8px 16px; /* Adjust button padding for smaller screens */
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.25rem;
  }
}

@media (max-width: 992px) {
  .heading {
    font-size: 50px;
    
  }

  .sub-heading {
    font-size: 100px;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 80px;
    margin-top: 5vh;
  }

  .sub-heading {
    font-size: 80px;
  }

  .hero-title {
    font-size: 2rem;
  }

  .hero-subtitle {
    font-size: 0.75rem;
  }

  .button {
    padding: 10px 50px;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 20px;
    margin-top: 3vh;
  }

  .sub-heading {
    font-size: 40px;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  .hero-subtitle {
    font-size: 0.5rem;
  }

  .button {
    padding: 10px 30px;
    font-size: 1.2rem;
  }
}


